footer {
    padding: 50px 25px;
    background-color: var(--secondary-color);
}
.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
   "item1 item1"
   "item2 item2"
   "item3 item4"
   "item5 item5";
   gap: 15px;
   
   
}
.grid_item{
    background-color: var( --light-secondary-color);
    padding: 15px;
}
.grid_item img{
    width: 80px;
    height: 80px;
}
#item1{
    grid-area: item1 ;
    display: flex;
    gap: 10px;
    align-items: center;
}
#item2{
    grid-area: item2 ;
    display: flex;
    gap: 10px;
    align-items: center;
}

#item3{
    grid-area: item3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#item4{
    grid-area: item4 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#item5{
    grid-area: item5 ;
}
@media (min-width: 768px) {
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
       "item1 item1 item3"
       "item4 item2 item2"
       "item5 item5 item5";
       /* gap: 15px; */
       
       
    }
}
@media (min-width: 1000px) {
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
       "item1 item1 item3 item5"
       "item4 item2 item2 item5";
       
       
       
    }
}