* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FFD2;
}
.heroImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* flex commands */
    display: flex;
    align-items: flex-end;
    justify-content: center;

    margin-bottom: 30px;
    width: 950px;
    height: 450px;
    border: 1px solid blue;
    background-image: url('https://www.adac.de/-/media/images/touristik/staedte/muenchen-1912-926x383.jpg?bc=white&as=0&mh=315&mw=762&hash=F582E2E778ED6BACAE824F7A08320FF2');
    margin: 0 auto;
    margin-bottom: 30px;
    border: 3px solid pink;
}
h1 {
    color: white;
    width: 90%;
    background-color: #FFAD32;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}
.container {
    width: 270px;
    height: 360px;
    border: 1px solid #378131;
    border-radius: 8px;
    background-color: #DEF3D4;
}
.backgroundImage {
    width: 270px;
    height: 156px;
    background-size: cover;
    border-radius: 8px;
}
.trachtenvogl {
    background-image: url('https://www.sueddeutsche.de/image/sz.1.3343179/704x396?v=1508400235');
}

.loStudente {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/08/9b/e6/76/lo-studente.jpg');
}

.laKaz {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/18/4d/1c/d5/la-kaz-a-lea.jpg');
}
.ballabeni{
    background-image: url('https://www.muenchen.travel/var/ger_muc/storage/images/_aliases/stage_large/0/8/1/1/2181180-1-ger-DE/eisdielen-eisessen-frank-stolle-4247.jpg');
}
.jasmin{
    background-image: url('https://www.stadtgui.de/_images/cafe_jasmin_20200915%20(8).jpg');
}
.pizzesco{
    background-image: url('https://fastly.4sqi.net/img/general/600x600/581079_zhEg6arjOqVwVjUp9W-vXhTB1tj6S6ebfXsuAWZksfg.jpg');
}
.bergwolf{
    background-image: url('https://cdn.11880.com/gaststaette-bergwolf_24935232_mw640h480_muenchen.jpg');
}
.sim{
    background-image: url('https://imageproxy.wolt.com/venue/5fb2522e7729f0ec0f173b96/a501fdf8-2f28-11eb-a44e-a29d0104f386_simsim_detail4.jpg');
}
.takumi{
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/1d/03/f5/13/caption.jpg');
}
/* head */
h2 {
    text-transform: uppercase;
}
.details {
    text-align: center;
    height: 210px;
    position: relative;
}
.route {
    background-color: #378131;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    text-align: center;
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    margin-left: 17%;
}
.parent {
    /* flex commands */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    
    margin: 0 auto;
    margin-bottom: 25px;
    border: 3px solid rgb(21, 7, 175);
}
.route:hover{
    background-color:#A0C28B;
}