* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9ffd2;
}
.heroImage {
  position: relative;
  background-image: url("https://www.adac.de/-/media/images/touristik/staedte/muenchen-1912-926x383.jpg?bc=white&as=0&mh=315&mw=762&hash=F582E2E778ED6BACAE824F7A08320FF2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 70%;
  height: 450px;
  border: 1px solid blue;

  margin: 20px auto; /* place picture in center and 20px margin top bottom */
}

.Titel {
  position: absolute;
  background-color: #ffad32;
  padding: 5px;
  border-radius: 10px;
  width: 70%;
  text-align: center;
  bottom: 10%;
  margin: 0 15%;
  /* margin-left: 15%; */
}
.container {
    width: 270px;
    height: 360px;
    border: 1px solid #378131;
    border-radius: 8px;
    background-color: #DEF3D4;
}
.backgroundImage {
    width: 270px;
    height: 156px;
    background-size: cover;
}
.trachtenvogl {
    background-image: url('https://www.sueddeutsche.de/image/sz.1.3343179/704x396?v=1508400235');
}
.details {
    text-align: center;
    height: 210px;
    position: relative;
}
.route {
    background-color: #378131;
    font-weight: 700;
    text-align: center;    
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    margin-left: 17%;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}