* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: red;
}
div h1 {
    color: greenyellow;
}
p {
  color: darkred;
  background-color: bisque;
  padding: 10px;
}
div {
    background-color: darkgray;
}
.bsp2 {
  color: darkgreen;
}
.bsp4 {
  color: darkorange;
}
#bsp1 {
  background-color: cyan;
}
