html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(199, 199, 199);
}
.content {
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
}
.action {
    display: flex;

}
.task {
    background-color: red;
    height: 20px;
    width: 500px;
}